<mtapp:setting id="netlify_build_hooks_setting" label="<__trans phrase='Netlify Build Hooks'>"
    hint="<__trans phrase="Please input the Netlify Build Hooks ID.">" show_hint=1>
    <input type="text" name="netlify_build_hooks" id="netlify_build_hooks"
        value="<mt:GetVar name="netlify_build_hooks">" />
</mtapp:setting>
