<mt:SetVarBlock name="html_title"><__trans phrase="Netlify Build Hooks Plugin" /></mt:SetVarBlock>
<mt:SetVarBlock name="page_title"><__trans phrase="Netlify Build Hooks Plugin" /></mt:SetVarBlock>

<mt:SetVarBlock name="page_content">
    <div class="mt-widget">
        <h2 class="mt-widget__title">
            <svg role="img" class="mt-icon"><title><__trans phrase="Build" /></title><use xlink:href="<mt:StaticWebPath />images/sprite.svg#ic_build" /></svg>
            <__trans phrase="Production build" />
        </h2>
        <mt:Var name='netlify_build_hooks_production' />
        <div class="mt-widget__content">
            <mtapp:statusmsg class="success">
                <__trans phrase="I ran a production build of Netlify." />
            </mtapp:statusmsg>
            <form method="post" action="<mt:Var name='script_url' />" id="production">
                <input type="hidden" name="__mode" value="netlify_build_hooks_production" />
                <input type="hidden" name="blog_id" value="<mt:Var name='blog_id' escape='html' />" />
                <input type="hidden" name="return_args" value="<mt:Var name='return_args' escape='html' />" />
                <input type="hidden" name="magic_token" value="<mt:Var name='magic_token' escape='html' />" />
                <button type="submit" class="btn__mobile btn-primary"><__trans phrase="Production" /><__trans phrase="Build" /></button>
            </form>
        </div>
    </div>

    <div class="mt-widget">
        <h2 class="mt-widget__title">
            <svg role="img" class="mt-icon"><title><__trans phrase="Build" /></title><use xlink:href="<mt:StaticWebPath />images/sprite.svg#ic_build" /></svg>
            <__trans phrase="Develop build" />
        </h2>
        <div class="mt-widget__content">
            <mtapp:statusmsg class="success">
                <__trans phrase="I ran a development build of Netlify." />
            </mtapp:statusmsg>
            <form method="post" action="<mt:Var name='script_url' />" id="develop">
                <input type="hidden" name="__mode" value="netlify_build_hooks_develop" />
                <input type="hidden" name="blog_id" value="<mt:Var name='blog_id' escape='html' />" />
                <input type="hidden" name="return_args" value="<mt:Var name='return_args' escape='html' />" />
                <input type="hidden" name="magic_token" value="<mt:Var name='magic_token' escape='html' />" />
                <button type="submit" class="btn__mobile btn-warning"><__trans phrase="Develop" /><__trans phrase="Build" /></button>
            </form>
        </div>
    </div>

</mt:SetVarBlock>
<mt:Include name="layout/default.tmpl" />
<mt:Var name="layout" />
